@font-face {
  font-family: 'source-han-serif';
  src: url('/font/SourceHanSerifCN-Bold.eot');
  src:
    url('/font/SourceHanSerifCN-Bold.eot?#font-spider') format('embedded-opentype'),
    url('/font/SourceHanSerifCN-Bold.woff2') format('woff2'),
    url('/font/SourceHanSerifCN-Bold.woff') format('woff'),
    url('/font/SourceHanSerifCN-Bold.ttf') format('truetype'),
    url('/font/SourceHanSerifCN-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.person {
  cursor: pointer; 
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  font-weight: normal;  
}

.person:hover,
.person-highlight {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  font-weight: bold;  
}

.thumb {
  border-radius: 50%;
  border: 2px solid #ccc;
  margin: 5px;
}

.person:hover > .thumb,
.person-highlight > .thumb {
  border: 2px solid #10e3ea;
}

.person:hover > .person-name,
.person-highlight > .person-name {
  background-color: #10e3ea;
  color: #fff;
}

#info-wrapper {
  position: relative;
  height: 35vh;
  width: 100%;
  margin-bottom: 15px;
  overflow-y: auto;
  color: #fff;
  background-color: #000;
}

#photo {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20vh;
}

#info {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 3vh;
}

#messages {
  margin-left: 20px;
  margin-right: 20px;
}

#title {
  color: #000 !important;
}

#title:hover,
#title:active {
  color: #10e3ea !important;
}

a {
  text-decoration: none !important;
}


#times {
  color: #10e3ea;
  vertical-align: middle;
}

#number {
  font-size: 10vh;
  color: #10e3ea;
}

#sort-button {
  text-align: left;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  margin-left: -15px;
}

#sort-icon {
  position: relative;
}

#sort-main {
  position: absolute;
  z-index: 200;
}

#sort-outline {
  z-index: 100;
}

/* add outline to the svg icon */
#sort-outline > path {
  stroke: #fff;
  stroke-width: 5px;
}

#people-grid-wrapper {
  position: relative;
}

#people-grid {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  overflow-y: auto;
  max-height: 36vh;
}

#detail-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#person-information {
  text-align: left;
  width: 50%;
  font-size: 24px;
  margin-left: 30px;
  margin-top: 25px;
  margin-right: 15px;
}

#detail {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 14px;
}

#quote {
  width: 50%;
  text-align: right;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 15px;
  font-size: 20px;
  color: #10e3ea;
  font-family: 'source-han-serif',serif;
  font-weight: bold;
  text-shadow: 0px 0px 3px #000;
  padding-bottom: 20px;
}

#quote-by {
  font-size: 14px;
  padding-top: 5px;
  font-family: sans-serif;
  font-weight: normal;
}

.intro {
  font-size: 12px;
  font-weight: normal;
}

.circle {
  border-radius: 50%;
  color: #000;
  background-color: #fff;
  width: 16px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  margin-left: 3px;
  cursor: pointer;
}

.circle:hover {
  background-color: #10e3ea;
}

.link {
  font-size: 14px;
  padding-bottom: 20px;
}

.icon {
  vertical-align: text-top;
}

/* override bootstrap tooltip styles */
.tooltip > .tooltip-inner {
  color: #000 !important;
  background-color: #ccc !important;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #ccc !important;
}

#subtitle {
  margin-top: -10px;
  margin-bottom: 10px;
}

.check-icon {
  float: right;    
  padding-top: 2px;
}

.unchecked {
  visibility: hidden; 
}

/* override bootstrap dropdown styles */
.dropdown > .btn-default {
  background-image: none !important;
  background-color: rgba(0,0,0,0) !important;
  border: none !important;
  box-shadow: none !important;
  margin-top: -13px;
}

.dropdown-menu {
  font-size: 12px !important;
  margin-top: -10px !important;
}

#content {
  min-height: calc(100vh - 60px);
}

#footer {
  height: 60px;
  font-size: 12px;
  color: #bbb;
}

#rabbit-icon {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  vertical-align: bottom;
}

#footer:hover > #rabbit-icon {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

#footer > a {
  color: #bbb;
}
