.post-content {
  text-align: left;
  padding: 15px;
}

#treehole-buttonbar {
  text-align: right;
  cursor: pointer;
  padding-right: 10px;
}

.treehole-button {
  color: #bbb;
}

.treehole-button:hover {
  color: #aeaeae !important;
}

#submit-button {
  color: #10e3ea;
}

#submit-button:hover {
  color: #0eccd2 !important;
}

.btn-toolbar > .btn-default,
.btn-toolbar > .btn-primary
{
  background-image: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

.btn-toolbar > .btn-primary {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.post-info {
  color: #bbb;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 10px;
}

.post-info > a {
  color: #bbb;
}

.post-info > a:hover,
.post-info > a:active
{
  color: #10e3ea;
}

.load-message {
  margin-top: 50px;
  color: #bbb;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#error-text {
  cursor: pointer;
  color: #bbb;
  padding: 10px;
}

#loading-text {
  padding: 10px;
}

#post-content {
  max-width: 600px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0px;
  margin-left: auto;
}

.comment-box {
  border-top: 1px solid #ccc;
  margin-right: 0px;
  margin-left: auto;
  width: 50%;
  padding-bottom: 20px;
  text-align: left;
}

#edit-comment {
  margin-right: 0px;
  margin-left: auto;
  width: 50%;
  padding-bottom: 20px;
  text-align: left;
}

.comment-content {
  padding-left: 20px;
  padding-right: 20px;
}
