.post-content {
  text-align: left;
  padding: 15px;
}

#treehole-buttonbar {
  text-align: right;
  cursor: pointer;
  padding-right: 10px;
  padding-bottom: 10px;
}

.treehole-button {
  color: var(--muted-color);
}

.treehole-button:hover {
  color: var(--muted-color-darker) !important;
}

#submit-button {
  color: var(--main-color);
}

#submit-button:hover {
  color: var(--main-color-darker) !important;
}

.btn-toolbar > .btn-default,
.btn-toolbar > .btn-primary,
.modal-dialog * .btn-primary
{
  background-image: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

.btn-toolbar > .btn-primary,
.modal-dialog * .btn-primary
{
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.post-info {
  color: var(--muted-color);
  text-align: right;
  padding-right: 20px;
  padding-bottom: 10px;
}

.post-info > a {
  color: var(--muted-color);
}

.post-info > a:hover,
.post-info > a:active
{
  color: var(--main-color);
}

.load-message {
  margin-top: 50px;
  color: var(--muted-color);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#error-text {
  cursor: pointer;
  color: var(--muted-color);
  padding: 10px;
}

#loading-text {
  padding: 10px;
}



#edit-post-item {
  padding: 0px;
}

#post-content {
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 100%;
  height: 100%;
}

#post-content > textarea {
  width: 100%;
  height: 100%;
  border: none !important;
  position: absolute;
  padding: 15px;
  resize: none !important;
}

#post-content > textarea:focus {
  border: solid 2px var(--main-color) !important;
  transition: none !important;
}

textarea:focus {
  border: solid 2px var(--main-color) !important;
  transition: none !important;
}

#edit-post-buttonbar {
  position: absolute;
  right: 15px;
  bottom: 10px;
  z-index: 200;
}

.react-resizable-handle {
  transform: scale(1.5);
  transform-origin: 100% 100%;
}

.react-resizable > textarea {
  height: 100%;
  width: 100%;
  margin: 0px;
}

#edit-comment-box {
  border-top: none !important;
}

.comment-box {
  border-top: 1px solid var(--muted-color);
  margin-right: 0px;
  margin-left: auto;
  width: 600px;
  max-width: 80%;
  text-align: left;
}

.edit-comment {
  width: 100%;
  margin-right: 0px;
  margin-left: auto;
  padding-bottom: 20px;
  text-align: left;
}

.comment-content {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

textarea {
  resize: none;
  border-radius: 0px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.list-group-item {
  border-radius: 0px !important;
}

/* make sure the ReCAPTCHA badge appears at the front */
.grecaptcha-badge {
  z-index: 5000;
}

#post-sort-button > .dropdown > button {
  padding: 0px 3px 0px 3px !important;
  margin-top: -15px !important;
}

.editor-info {
  color: var(--muted-color);
  font-size: 12px;
  vertical-align: -webkit-baseline-middle;
  padding-right: 10px;
}

/* hide scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

.post-box * .visible-on-hover {
  visibility: hidden;
}

.post-box:hover * .visible-on-hover {
  visibility: visible;
}

.share-button {
  vertical-align: text-top;
  padding-left: 15px;
  cursor: pointer;
}

.share-site {
  padding: 5px; 
  cursor: pointer;
}

.share-site:hover {
  color: var(--main-color);
}

/* move modal to the center */
.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.full-text-button {
  margin-left: 5px;
  cursor: pointer;
}

.full-text-button:hover {
  background-color: var(--main-color);
}

#search-box {
  width: 120px;
  position: relative;
}

#search-text {
  width: 120px;
  font-size: 12px;
  border: solid 1px var(--muted-color) !important;
  box-shadow: none !important;
  border-radius: 9999px;
  position: absolute;
  padding-right: 30px;
}

#search-text:focus {
  border: solid 2px var(--main-color) !important;
}

#search-icon {
  color: var(--muted-color);
  position: absolute;
  margin-top: 5px;
  margin-left: -30px;
}

.highlight-text {
  background-color: var(--main-color);
}
